
<div class="modal fade mr-0" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content BackModalContent">
            <div class="modal-header text-center CompleteReg" style="color:white!important">
                <h5 class="modal-title" id="exampleModalLongTitle">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" style="outline:none!important" aria-label="Close">
                    <span aria-hidden="true" style="color: black !important; font-size: 2rem">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around align-items-center row text-center mt-md-2 mb-3">
                    <input id="LoginUser" class="form-control mb-4 InputForValidation" placeholder="Введите логин (Email)" />
                    <input id="PasswordUser" type="password" class="form-control mb-4 InputForValidation" placeholder="Введите пароль" />
                    <button id="LoginInSystem" class=" LoginBtn mb-3" onclick="Autorization(this)">Войти</button>
                    <div class="col-12 text-center ">
                        <a id="reg" class="btn-link js-scroll-trigger" href="#" target="_self">зарегистрироваться</a>

                    </div>


                </div>
               

            </div>
        </div>
    </div>
</div>


